<header is="header" class="header-page">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo link"
        ><span class="header-logo-simply">SIMPLY&nbsp;</span>CHOCOLATE<svg
          class="chocolate-icon"
        >
          <use href="./img/icons.svg#icon-chocolate-icon"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-navigation-item">
          <a href="./index.html" class="header-navigation-link">Home</a>
        </li>
        <li class="header-navigation-item">
          <a href="#how it’s made" class="header-navigation-link"
            >How it’s made?</a
          >
        </li>
        <li class="header-navigation-item">
          <a href="#Our products" class="header-navigation-link"
            >Our products</a
          >
        </li>
        <li class="header-navigation-item">
          <a href="#top-sellers" class="header-navigation-link">Top sellers</a>
        </li>
        <li class="header-navigation-item">
          <a href="#chocolate-is-loved" class="header-navigation-link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-socials">
      <li class="header-socials-item">
        <a
          href="https://www.instagram.com/lviv.chocolate/"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="22" height="22" class="header-soc-svg">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          href="https://twitter.com/Kits_Chocolate"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="20" height="20" class="header-soc-svg">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- M O B I L E-M E N U -->
    <button
      type="button"
      class="header-menu-btn js-open-menu"
      aria-expanded="false"
      aria-controls="menu-container"
    >
      <svg width="28" height="28" class="burger-svg">
        <use href="./img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
  <div class="header-burger-menu js-menu-container" id="menu-container">
    <div class="container">
      <div class="animation">
        <button
          type="button"
          class="burger-menu-close js-close-menu"
          aria-expanded="false"
          aria-controls="menu-container"
          data-menu-button
        >
          <svg width="28" height="28" class="close-menu-icon">
            <use href="./img/icons.svg#icon-close-icon"></use>
          </svg>
        </button>
        <ul class="mob-burger-list">
          <li class="mob-burger-item">
            <a href="./index.html" class="mob-burger-link current">Home</a>
          </li>
          <li class="mob-burger-item">
            <a href="#how it’s made" class="mob-burger-link">How it’s made?</a>
          </li>
          <li class="mob-burger-item">
            <a href="#Our products" class="mob-burger-link">Our products</a>
          </li>
          <li class="mob-burger-item">
            <a href="#top-sellers" class="mob-burger-link">Top sellers</a>
          </li>
          <li class="mob-burger-item">
            <a href="#chocolate-is-loved" class="mob-burger-link"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="mob-burger-socials">
          <li class="burger-soc-item">
            <a
              href="https://www.instagram.com/lviv.chocolate/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg width="22" height="22" class="header-soc-svg">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="burger-soc-item">
            <a
              href="https://twitter.com/Kits_Chocolate"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg width="20" height="20" class="header-soc-svg">
                <use href="./img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
