<section class="products">
  <div class="products-container container">
    <h2 class="products-our">Our <span class="title-color">PRODUCTS</span></h2>
    <div class="swiper">
      <ul class="list products-list swiper-wrapper">
        <li class="products-item swiper-slide">
          <img
            class="products-photo"
            srcset="/img/our-products/orange@2x.jpg 2x"
            src="/img/our-products/orange.jpg"
            alt="Dark chocolate"
            width="230"
            height="201"
          />
          <div class="products-box">
            <h3 class="products-title">ORANGE</h3>
            <p class="products-text">Dark chocolate</p>
            <span class="products-span">45 UAH</span>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <img
            class="products-photo"
            srcset="/img/our-products/apple@2x.jpg 2x"
            src="/img/our-products/apple.jpg"
            alt="Milk chocolate"
            width="230"
            height="201"
          />
          <div class="products-box">
            <h3 class="products-title">APPLE&CRANBERRY</h3>
            <p class="products-text">Milk chocolate</p>
            <span class="products-span">50 UAH</span>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <img
            class="products-photo"
            srcset="/img/our-products/lime@2x.jpg 2x"
            src="/img/our-products/lime.jpg"
            alt="Dark chocolate"
            width="230"
            height="201"
          />
          <div class="products-box">
            <h3 class="products-title">lime&sea salt</h3>
            <p class="products-text">Dark chocolate</p>
            <span class="products-span">66 UAH</span>
          </div>
        </li>

        <li class="products-item swiper-slide">
          <img
            class="products-photo"
            srcset="/img/our-products/pineapple@2x.jpg 2x"
            src="/img/our-products/pineapple.jpg"
            alt="Dark chocolate"
            width="230"
            height="201"
          />
          <div class="products-box">
            <h3 class="products-title">pineapple</h3>
            <p class="products-text">Dark chocolate</p>
            <span class="products-span">54 UAH</span>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <img
            class="products-photo"
            srcset="/img/our-products/classic@2x.jpg 2x"
            src="/img/our-products/classic.jpg"
            alt="Milk chocolate"
            width="230"
            height="201"
          />
          <div class="products-box">
            <h3 class="products-title">Classic</h3>
            <p class="products-text">Milk chocolate</p>
            <span class="products-span">45 UAH</span>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <img
            class="products-photo"
            srcset="/img/our-products/honey@2x.jpg 2x"
            src="/img/our-products/honey.jpg"
            alt="Milk chocolate"
            width="230"
            height="201"
          />
          <div class="products-box">
            <h3 class="products-title">honey</h3>
            <p class="products-text">Milk chocolate</p>
            <span class="products-span">50 UAH</span>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <img
            class="products-photo"
            srcset="/img/our-products/roasted@2x.jpg 2x"
            src="/img/our-products/roasted.jpg"
            alt="Dark chocolate"
            width="230"
            height="201"
          />
          <div class="products-box">
            <h3 class="products-title">Roasted fruits</h3>
            <p class="products-text">Dark chocolate</p>
            <span class="products-span">66 UAH</span>
          </div>
        </li>

        <li class="products-item swiper-slide">
          <img
            class="products-photo"
            srcset="/img/our-products/white@2x.jpg 2x"
            src="/img/our-products/white.jpg"
            alt="White chocolate"
            width="230"
            height="201"
          />
          <div class="products-box">
            <h3 class="products-title">Classic</h3>
            <p class="products-text">White chocolate</p>
            <span class="products-span">54 UAH</span>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
