REVIEWS_SECTION

<section class="reviews-container container">
  <h2 class="reviews-title">
    <span class="reviews-title-span">chocolate</span> is loved
  </h2>
  <div class="reviews-customer">
    <ul class="reviews-customers-list">
      <li class="reviews-item">
        <img
          class="reviews-cart-photo"
          src="/img/reviews-customer-1.png"
          srcset="./img/reviews-customer-1.png 2x"
          alt="photo-customer"
          width="80"
          height="80"
        />
        <div class="reviews-cart-text">
          <h3 class="reviews-customer-name">Victoria Dobrzhanska</h3>
          <p class="reviews-feedback">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-cart-photo"
          src="/img/reviews-customer-2.png"
          srcset="./img/reviews-customer-2.png 2x"
          alt="photo-customer"
          width="80"
          height="80"
        />
        <div class="reviews-cart-text">
          <h3 class="reviews-customer-name">Nazar Babenko</h3>
          <p class="reviews-feedback">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-cart-photo"
          src="/img/reviews-customer-3.png"
          srcset="./img/reviews-customer-3.png 2x"
          alt="photo-customer"
          width="80"
          height="80"
        />
        <div class="reviews-cart-text">
          <h3 class="reviews-customer-name">Olena Kampusch</h3>
          <p class="reviews-feedback">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-cart-photo"
          src="/img/reviews-customer-4.png"
          srcset="./img/reviews-customer-4.png 2x"
          alt="photo-customer"
          width="80"
          height="80"
        />
        <div class="reviews-cart-text">
          <h3 class="reviews-customer-name">Natalia Sus</h3>
          <p class="reviews-feedback">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-cart-photo"
          src="/img/reviews-customer-5.png"
          srcset="./img/reviews-customer-5.png 2x"
          alt="photo-customer"
          width="80"
          height="80"
        />
        <div class="reviews-cart-text">
          <h3 class="reviews-customer-name">Danilo Nottingham</h3>
          <p class="reviews-feedback">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-cart-photo"
          src="/img/reviews-customer-6.png"
          srcset="./img/reviews-customer-6.png 2x"
          alt="photo-customer"
          width="80"
          height="80"
        />
        <div class="reviews-cart-text">
          <h3 class="reviews-customer-name">Irina Tydnyuk</h3>
          <p class="reviews-feedback">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </div>
      </li>
    </ul>
  </div>
  <button type="button" class="reviews-button" data-modal-open>
    Leave a review
  </button>
</section>
