<section class="subscribe-section">
  <div class="container">
    <h2 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="subscribe-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button type="button" class="subscribe-btn" data-modal-open>
      Subscribe
    </button>
  </div>
</section>

<!-- Modal Subscribe -->

<div class="subscrb-backprop">
  <div class="subscrb-modal">
    <div class="subscrb-img">
      <picture class="img-test">
        <source
          srcset="/src/img/explore-tablet.jpg"
          media="(min-width: 768px)"
        />
        <source
          srcset="/src/img/explore-mobile.jpg"
          media="(max-width: 767px)"
        />
        <img src="/src/img/explore-tablet.jpg" alt="chocolate" />
      </picture>
      <button type="button" class="subscrb-modal-close-btn">
        <svg class="subscrb-close-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-sbcrb-close"></use>
        </svg>
      </button>
    </div>
    <h2 class="subscrb-modal-title">
      Explore our <br />
      <span class="subscrb-text-accent"> new chocolate </span> first!
    </h2>
    <div class="subscrb-form-wrap">
      <form class="subscrb-form">
        <label for="user-email"></label>
        <input
          class="subscrb-intup"
          type="email"
          name="email"
          id="user-email"
          pattern="[a-zA-Z0-9]+"
          placeholder="Enter your email"
        />
        <button type="submit" class="subscrb-submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
