<div class="buy-now-backdrop">
    <div class="buy-now-modal">
        <button type="button" class="buy-now-close-button">
            <svg class="buy-now-close-icon">
                <use href="../img/icons.svg#icon-close"></use>
                <use href="../img/icons.svg#icon-close-1"></use>
            </svg>
        </button>
        <h3 class="buy-now-title">buy now</h3>
        <div class="buy-now swiper">
            <ul class="buy-now swiper-wrapper">
                <li class="swipe-slide">
                    <img src="./img/chocolate.jpg" srcset="./img/chocolate.jpg 1x,
                            ./img/chocolate-2x.jpg 2x" alt="chocolate" class="buy-now-photo" width="167">
                    <button type="button" class="buy-now-photo-button">
                        100 g
                    </button>
                </li>
                <!-- <li class="swiper-slide">
                        <img src="" alt="chocolate">
                        <button type="button" class="buy-now-photo-button">
                            200 g
                        </button>
                    </li>
                    
                    <li class="swiper-slide">
                        <img src="" alt="chocolate">
                        <button type="button" class="buy-now-photo-button">
                            300 g
                        </button>
                    </li> -->


                <!-- <div class="swiper-pagination"></div> -->
            </ul>




        </div>


    </div>