<section class="top-sellers-section">
  <div class="container top-sellers-container">
    <h2 class="top-sellers-title"><span>top </span>sellers</h2>
    <ul class="top-sellers-list">
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ../img/img-top-sellers/sellers-deck1.jpg    1x,
              ../img/img-top-sellers/sellers-deck1-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/img-top-sellers/sellers-tablet1.jpg    1x,
              ../img/img-top-sellers/sellers-tablet1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/img-top-sellers/sellers-mob1.jpg    1x,
              ../img/img-top-sellers/sellers-mob1-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
        </picture>
        <img
          class="top-sellers-img"
          src="./img/img-top-sellers/sellers-deck1.jpg"
          alt="Сhocolate with nuts"
        />
        <p class="top-sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ../img/img-top-sellers/sellers-deck2.jpg,
              ../img/img-top-sellers/sellers-deck2-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/img-top-sellers/sellers-tablet2.jpg    1x,
              ../img/img-top-sellers/sellers-tablet2-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/img-top-sellers/sellers-mob2.jpg    1x,
              ../img/img-top-sellers/sellers-mob2-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
        </picture>
        <img
          class="top-sellers-img"
          src="./img/img-top-sellers/sellers-mob2.jpg"
          alt="Milk chocolate"
        />
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ../img/img-top-sellers/sellers-deck3.jpg,
              ../img/img-top-sellers/sellers-deck3-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
        </picture>
        <img
          class="top-sellers-img"
          src="./img/img-top-sellers/sellers-deck3.jpg"
          alt="Dark chocolate"
        />
      </li>
    </ul>
    <button type="submit" class="top-sellers-btn">Buy now</button>
  </div>
</section>
