<section class="container unique-components">
  <div>
    <h2 class="unique-components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
    </h2>
    <p class="unique-components-title-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>
  <ul class="unique-components-list">
    <li class="unique-components-item">
      <img
        src="/img/milk-chocolate.png"
        alt="milk-chocolate"
        width="224"
        height="171"
      />

      <p class="unique-components-img-text">milk-chocolate</p>
      <div class="unique-components-overlay-block">
        <h3 class="unique-components-overlay-title">Milk chocolate</h3>
        <ul class="unique-components-overlay-benefits">
          <li class="unique-components-overlay-benefits-first">
            <p>chocolate</p>
          </li>
          <li class="unique-components-overlay-benefits-second">
            <p>the benefits</p>
          </li>
        </ul>
        <p class="unique-components-overlay-text">
          Milk chocolate is a solid chocolate confectionery containing cocoa,
          sugar and milk. It is the most consumed type of chocolate. Chocolate
          was originally sold and consumed as a beverage in pre-Columbian times.
          Although four-fifths of all milk chocolate is sold in the United
          States and Europe, increasingly large amounts are consumed in China
          and Latin America.
        </p>
      </div>
    </li>

    <li class="unique-components-item unique-components-item-white">
      <img src="/img/milk.png" alt="milk" width="224" height="171" />
      <p class="unique-components-img-text-white">milk</p>
      <div class="unique-components-overlay-block">
        <h3 class="unique-components-overlay-title">Milk</h3>
        <ul class="unique-components-overlay-benefits">
          <li class="unique-components-overlay-benefits-first">
            <p>milk</p>
          </li>
          <li class="unique-components-overlay-benefits-second">
            <p>the benefits</p>
          </li>
        </ul>
        <p class="unique-components-overlay-text">
          Milk is a white liquid food produced by the mammary glands of mammals.
          It is the primary source of nutrition for young mammals (including
          breastfed human infants) before they are able to digest solid
          food.Early-lactation milk, which is called colostrum, contains
          antibodies that strengthen the immune system, and thus reduces the
          risk of many diseases. Milk contains many nutrients, including protein
          and lactose..
        </p>
      </div>
    </li>
    <li class="unique-components-item unique-components-item-nuts">
      <img src="/img/nuts.png" alt="nuts" width="224" height="171" />

      <p class="unique-components-img-text">nuts</p>
      <div class="unique-components-overlay-block">
        <h3 class="unique-components-overlay-title">nuts</h3>
        <ul class="unique-components-overlay-benefits">
          <li class="unique-components-overlay-benefits-first">
            <p>nuts</p>
          </li>
          <li class="unique-components-overlay-benefits-second">
            <p>the benefits</p>
          </li>
        </ul>
        <p class="unique-components-overlay-text">
          Almonds, pistachios, and walnuts are some types of nuts that contain
          healthy nutrients. When eaten as part of a nutrient-dense diet, these
          9 nuts may offer benefits such as reducing your risk of heart disease.
          They’re a good source of fiber, healthy fats, and plant protein. Plus,
          they’re great on their own, paired with fruit, or added to dishes like
          salads, desserts, and grains.
        </p>
      </div>
    </li>
    <li class="unique-components-item unique-components-item-white">
      <img
        src="/img/sweet-chocolate.png"
        alt="semi-sweet-chocolate"
        width="224"
        height="171"
      />

      <p class="unique-components-img-text-white">semi-sweet chocolate</p>
      <div class="unique-components-overlay-block">
        <h3 class="unique-components-overlay-title">sweet chocolate</h3>
        <ul class="unique-components-overlay-benefits">
          <li class="unique-components-overlay-benefits-first">
            <p>sweet chocolate</p>
          </li>
          <li class="unique-components-overlay-benefits-second">
            <p>the benefits</p>
          </li>
        </ul>
        <p class="unique-components-overlay-text">
          Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
          the best ways to gain an understanding of this type of chocolate is to
          compare it to a different type of chocolate. Semisweet is darker than
          milk chocolate. In a taste comparison, it has a slightly bitter taste
          whereas milk chocolate is sweeter and more mellow. This delectable
          flavor of chocolate is very versatile.
        </p>
      </div>
    </li>
  </ul>
</section>
