<section class="container">
  <div>
    <h2 class="unique-components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
    </h2>
    <p class="unique-components-title-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>
  <ul class="unique-components-list">
    <li class="unique-components-item">
      <div class="unique-components-block">
        <img
          src="../img/milk-chocolate.png"
          alt="milk-chocolate"
          width="224"
          height="171"
        />
      </div>
        <p class="unique-components-img-text">milk-chocolate</p>
      
    </li>
    <li class="unique-components-item unique-components-item-white">
      <div class="unique-components-block">
        <img src="../img/milk.png" alt="milk" width="224" height="171" />
        </div>
        <p class="unique-components-img-text-white">milk</p>
      
    </li>
    <li class="unique-components-item unique-components-item-nuts">
      <div class="unique-components-block">
        <img src="../img/nuts.png" alt="nuts" width="224" height="171" />
        </div>
        <p class="unique-components-img-text">nuts</p>
      
    </li>
    <li class="unique-components-item unique-components-item-white">
      <div class="unique-components-block">
        <img
          src="../img/sweet-chocolate.png"
          alt="semi-sweet-chocolate"
          width="224"
          height="171"
        />
        </div>
        <p class="unique-components-img-text-white">semi-sweet chocolate</p>
      
    </li>
  </ul>
</section>
