.hero-container{
    width: 335px;
    background-image:linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-img/hero-overlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 76% 0;
    border-radius: 30px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/hero-img/hero-overlay2.jpg);
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero-container  {
    background-image: url(../img/hero-img/hero-overlay3.jpg);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  min-width: 295px;
  min-height: 205px;
  padding: 395px 20px 20px;
}
.hero-title{
    width: 299px;
    height: 72px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--tex-color-white);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.hero-list{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 0;
    margin-bottom: 32px;
}
.hero-buy{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  font-size: 14px;
  line-height: 1.2;
  width: 120px;
  height: 41px;
  margin: 0 auto;
  color: var(--tex-color-white);
  transition: var(--transition-focus);
  background: #fd9222;
  border: none;
  border-radius: 100px;
}
.hero-buy:hover,
.hero-buy:focus {
  background: #fcf1e0;
  color: var(--color-hover-orange);
}
.hero-how{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  font-size: 14px;
  line-height: 1.2;
  width: 159px;
  height: 41px;
  margin: 0 auto;
  white-space: nowrap;
  color: var(--tex-color-white);
  transition: var(--transition-focus);
  background-color: transparent;
  border: 1px solid var(--tex-color-white);
  border-radius: 100px;
}
.hero-how:hover,
.hero-how:focus {
  color: var(--color-hover-orange);  
  border: 1px solid var(--color-hover-orange);
}
.hero-down{
  width: 107px;
  height: 28px;
}
.hero-scroll {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  gap: 12px;
  min-height: 28px;
  transition: var(--transition-focus);
  color: var(--tex-color-white);
}
.hero-scroll:hover,
.hero-scroll:focus{
    color: var(--color-hover-orange);
    
}
.hero-icon{
  padding: 6px;
  fill: var(--color-hover-orange);
  background-color: var(--tex-color-white);
  border-radius: 50%;
  transition: var(--transition-focus);
}
.hero-scroll:hover .hero-icon,
.hero-scroll:focus .hero-icon {
    fill: var(--tex-color-white);
    background-color: var(--color-hover-orange);
}
.hero-section{
    margin-bottom: 72px;
  }
.hero-content{
  display: block;
    height: 28px;
    width: 107px;
  }
@media screen and (max-width: 320px) {
    .hero-how{
      width: 120px;
    }
  }
@media screen and (max-width: 767px) {
  .hero-container{
    min-height: 621px;
  }
}
@media screen and (min-width: 768px) {
  .hero-section{
    margin-bottom: 52px;
  }
  .hero-container{
    width: 704px;
    height: 890px;
    background-position: 63% 0;
  }
  .hero{
    display: block;
    min-width: 624px;
    min-height: 179px;
    padding: 671px 40px 40px;
  }
  .hero-title{
    width: 484px;
    height: 102px;
    font-size: 28px;
  }
  .hero-btns{
    display: flex;
    min-height: 45px;
    padding-top: 32px;
  }
  .hero-list{
    width: 341px;
    height: 45px;
    margin: 0;
  }
  .hero-buy {
    width: 144px;
    height: 45px;
  }
  .hero-how{
    width: 183px;
    height: 45px;
    padding: 14px 40px;
  }
  .hero-down{
     margin-left: 153px;
     width: 130px;
     height: 38px;
  }
  .hero-scroll{
    font-size: 14px;
    line-height: 1.28;
     height: 38px;
  } 
  .hero-icon{
    height: 26px;
    width: 26px;
  }
  .hero-section{
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section{
    margin-bottom: 72px;
  }
  .hero-container{
    width: 1136px;
    height: 600px;
    background-position: 70% 35%;
    background-size: 120%;
  }
  .hero {
    min-width: 1056px;
    padding: 381px 40px 40px;
  }
  .hero-list{
    flex-wrap: nowrap;
  }
  .hero-down{
   margin-left: 583px;
  }
}