:root {
  --tex-color-black: rgba(17, 17, 17, 1);
  --tex-color-white: rgba(255, 255, 255, 1);
  --color-hover-dark: rgba(30, 24, 35, 1);
  --color-hover-orange: rgba(253, 146, 34, 1);
  --transition-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: var(--tex-color-black);
}
.container {
  /* max-width: 1166px; */
  /* margin: 0 auto; */
  /* outline: 2px solid green; */
  /* box-sizing: border-box; */
  /* padding: 0 15px; */
  margin: 0 auto;
  max-width: 276px;
}
/* h Приховані заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
