.top-sellers-section {
  padding-bottom: 72px;
}
.top-sellers-title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}
.top-sellers-title > span {
  color: var(--color-hover-orange);
}

.top-sellers-list {
  display: block;
  margin-bottom: 20px;
}

.top-sellers-item:last-child {
  display: none;
}

.top-sellers-img {
  border-radius: 15px;
  width: 335px;
  height: 464px;
}

.top-sellers-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  font-size: 14px;
  max-width: 306px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.top-sellers-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: inherit;
  font-family: inherit;
  padding: 12px 28px;
  font-size: 14px;
  line-height: 1.2;
  width: 120px;
  height: 41px;
  margin: 0 auto;
  color: var(--tex-color-white);
  transition: var(--transition-focus);
  background: #fd9222;
  border: none;
  border-radius: 100px;
}

.top-sellers-btn:hover,
.top-sellers-btn:focus {
  background: #fcf1e0;
  color: var(--color-hover-orange);
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
  }
  .top-sellers-container {
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
    /* padding: 0 15px; */
  }

  .top-sellers-section {
    padding-bottom: 100px;
  }

  .top-sellers-btn {
    width: 162px;
    height: 50px;
    font-size: 18px;
    position: relative;
    right: -271px;
    top: -90px;
    margin: auto;
  }

  .top-sellers-title {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .top-sellers-list {
    display: flex;
    margin-bottom: 0;
    gap: 16px;
  }

  .top-sellers-img {
    width: 344px;
  }

  .top-sellers-text {
    margin-top: 32px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
    /* padding: 0 15px; */
  }

  .top-sellers-section {
    padding-bottom: 128px;
  }

  .top-sellers-item:last-child {
    display: block;
  }

  .top-sellers-item {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    width: calc((100% - 32px) / 3);
  }

  .top-sellers-btn {
    right: -486px;
    top: -70px;
  }

  .top-sellers-img {
    width: 368px;
  }

  .top-sellers-text {
    width: 407px;
  }
}
/* ----модал--- */
.buy-now-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: var(--transition-focus);
 
  opacity: 1;
}

.buy-now-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.buy-now-modal {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  padding: 32px 0;
  border-radius: 15px;
  background-color: #fafafa;
  text-align: left;
  max-width: 609px;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.buy-now-close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--transition-focus);
}
.buy-now-close-button:hover,
.buy-now-close-button:focus {
  background-color: #fcf1e0;
}
.buy-now-close-button:hover .buy-now-close-icon,
.buy-now-close-button:focus .buy-now-close-icon {
  stroke: #fd9222;
}
.buy-now-close-icon {
  width: 12px;
  height: 12px;
  stroke: #111;
  transition: stroke var(--transition-focus);
}
.buy-now-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
  margin-bottom: 32px;
}
.buy-now-cont {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 32px 40px 14px;
  width: 231px;
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.buy-now-photo {
  margin-left: auto;
  margin-right: auto;
}
.buy-now-photo-button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 16px auto 28px;
  width: 96px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #111111;
  background-color: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}
.buy-now-photo-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #fd9222;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(233, 171, 90, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(233, 171, 90, 0.27);
  transition: all var(--transition-focus)
}

.buy-now-photo-button:hover {
  color: #fafafa;
}

.buy-now-photo-button:hover::before {
  width: 100%;
}
/* <----------Form----------> */
.buy-now-form {
  padding: 0 24px;
}
.buy-now-formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  gap: 8px;
}
.buy-now-formField > .input::placeholder,
.buy-now-formField > .buy-now-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.buy-now-formField .input:focus,
.buy-now-formField .buy-now-textarea:focus {
  border: 1.5px solid #fd9222;
  box-shadow: -1px -1px 15px rgb(233, 171, 90);
}
.buy-now-textarea {
  height: 137px;
}
.buy-now-formField .input.tel {
  width: 100%;
  padding-left: 106px;
}
.buy-now-tel-cont {
  position: relative;
  display: inline-block;
}
.buy-now-formField .tel-icon {
  z-index: 1;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 18px;
}
.tel-icon-clue {
  z-index: 1;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: -0.02em;
}
.tel-icon-clue-2 {
  z-index: 1;
  position: absolute;
  left: 92px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 25px;
  background-color: rgba(64, 64, 64, 0.1);
}
.buy-now-formField .input.card {
  width: 100%;
  padding-right: 46px;
}
.buy-now-formField .card-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 21px;
  background-color: none;
}
.buy-now-formField .label-name {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.02em;
  color: #000000;
}
.buy-now-name-label {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.02em;
  color: #000000;
}
textarea {
  resize: none;
  border: none;
}
.buy-now-textarea {
  outline: none;
  height: 137px;
}
.buy-now-formField .input,
.buy-now-formField .buy-now-textarea {
  padding: 14px 0 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  outline: none;
  background-color: #fafafa;
  transition: border var(--transition-focus),
              box-shadow var(--transition-focus);
}
.buy-now-formField .textarea {
  padding-top: 14px;
  padding-left: 18px;
}
.form-button.button {
  padding: 12px 28px;
  background-color: #fd9222;
  border-radius: 100px;
  border: none;
  transition: background-color var(--transition-focus),
              box-shadow var(--transition-focus);
}
.form-button.button:hover,
.form-button.button:focus {
  background-color: #fcf1e0;
  box-shadow: 0 0 0 5px #ccc6905f;
}
.form-button:hover .button-text,
.form-button:focus .button-text {
  color: #fd9222;
}
.form-button .button-text {
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  transition: color var(--transition-focus);
}
.modal-thankyouu {
  max-width: 516px;
}
/* .input:required {
  border-color: #f44336;
} */

/* ------модал бай нав---- */
/* ------------ */
.modal-thankyou-buynow {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  position: fixed;
}
.modal-thankyou-review {
  position: relative;
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-thankyou-btn-review {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 1;
  width: 28px;
  height: 28px;
  background-color: #fcf1e0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-thankyou-review-icon {
  stroke: #fd9222;
  justify-content: center;
  text-align: center;
}
.form-modal-thankyou-review {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #fd9222;
  border-radius: 15px;
  overflow: hidden;
}
.form-thankyou-review {
  text-align: left;
  margin: 84px 24px 178px 58px;

  max-width: 229px;
}
.form-thankyouu {
  max-width: 309px;
  margin-left: 163px;
  margin-top: 154px;
  padding: 0;
  text-align: left;
}
.thankyou-title-review {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fcf1e0;
  margin-top: 0;
  margin-bottom: 8px;
}
.thankyou-text-review {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0;
}
.thankyou-review-icon {
  position: absolute;
  top: 120px;
  right: 50px;
  left: -120px;
}
@media screen and (min-width: 768px) {
  .modal-thankyou-btn-review {
    width: 40px;
    height: 40px;
    top: 24px;
    right: 24px;
  }
  .modal-thankyou-review {
    max-width: 516px;
  }
  .form-modal-thankyou-review {
    height: 414px;
  }
  .thankyou-title-review {
    font-size: 24px;
  }
  .thankyou-text-review {
    font-size: 18px;
    line-height: 1.3;
  }
  .form-thankyou-review {
    max-width: 297px;
    margin: 163px 49px 163px 170px;
    text-align: left;
  }
  .thankyou-review-icon {
    top: 100px;
    right: 50px;
    left: -145px;
  }
}
/*=================== THANK YOU BUY-NOW ===================*/
/* <----------Form----------> */
@media screen and (max-width: 375px) {
  .buy-now-tabzah {
    display: none;
  }
  .form-thankyouu {
    max-width: 219px;
    margin-left: 68px;
    margin-top: 84px;
    padding: 0;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .buy-now-formField.persInf {
    margin-top: 8px;
  }
  .form-thankyouu {
    max-width: 219px;
    margin-left: 68px;
    margin-top: 84px;
    padding: 0;
    text-align: left;
  }
  /* <----------swiper----------> */
  .buy-now.swiper {
    margin-bottom: 32px;
  }
  .swiper-pagination {
    position: static;
    color: #fd9222;
  }
  .buy-now-tabzah {
    display: none;
  }
  /* <----------swiper----------> */
}
@media screen and (min-width: 768px) {
  .buy-now-photo-button {
    margin: 14px auto 18px;
  }
  .buy-now-close-button {
    top: 31px;
    right: 31px;
  }
  .buy-now-modal {
    max-width: 609px;
    padding: 48px 0;
    width: 100%;
  }

  .buy-now-form {
    padding: 0 48px;
  }
  .buy-now-formField-persInf {
    display: flex;
    gap: 21px;
    margin-bottom: 18px;
    margin-top: 8px;
  }
  .buy-now-formField.persInf {
    margin-bottom: 0;
    width: 246px;
  }
  .buy-now-formField.persInf-surname {
    margin-bottom: 0;
    width: 246px;
  }
  .buy-now-formField .label-name {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
  .buy-now-title {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
  .buy-now-name-label {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
  .buy-now-cont {
    display: block;
    margin: 0;
    padding: 24px 20px 18px;
    max-width: 160px;
  }
  .buy-now-photo {
    margin: 0;
  }
  .buy-now-photo-button {
    margin: 14px auto 0;
  }
  .swiper-zah {
    display: none;
  }
  .buy-now-tab {
    margin: 32px 48.5px 40px;
  }
  .buy-now-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 40px;
  }
  .form-button.button {
    padding: 14px 40px;
  }
}
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 609px;

  /*  Центрируем и задаем z-index */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
  /* padding: 0; */
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
