.container {
    padding: 0;
}
.container-unique-components {
    max-width: 1166px;
    margin: 0 auto;
    outline: 2px solid green;
    box-sizing: border-box;
    padding: 0 15px;
    padding-bottom: 67px;
   padding: 0;
}
.unique-components-item {
    position: relative;
    max-width: 335px;
    height: 270px;
     background: var(--color-hover-orange);
     border-radius: 15px;
     cursor: pointer;
 }

 .unique-components-item img {
    margin-top: 28px;
    margin-right: 55px;
    margin-left: 56px;
    margin-bottom:25px;  
 }

.unique-components-title {
    max-width: 283px;
   
    color: var(--tex-color-black);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    /* or 117% */

    margin-bottom: 24px;
     margin-right: auto;
    margin-left: auto;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.unique-components-title span {
    color: var(--color-hover-orange);
}
.unique-components-title-text {
    max-width: 335px;
    color: var(--tex-color-black);
font-weight: 400;
font-size: 14px;
line-height: 1.29;
/* or 129% */

margin-right: auto;
margin-left: auto;
text-align: center;
letter-spacing: -0.02em;
}

.unique-components-list {
    list-style: none;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.unique-components-item-white {
    background: none;
    border: 1px solid var(--color-hover-orange);
    border-radius: 15px;
}
.unique-components-item-nuts {
    background: var(--color-hover-dark);
}
.unique-components-img-text {
    text-align: left;
    margin-bottom: 25px;
    margin-left: 28px;
    font-weight: 600;
font-size: 14px;
line-height: 1.29;
/* identical to box height, or 129% */

letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--tex-color-white);
}
.unique-components-img-text-white {
    text-align: left;
    margin-bottom: 28px;
    margin-left: 28px;
    font-weight: 600;
font-size: 14px;
line-height: 1.29;
/* identical to box height, or 129% */

letter-spacing: -0.02em;
text-transform: uppercase;

color: var(--tex-color-black);
}







.unique-components-overlay-block {
  position: absolute;
  top: 0;
  right: 0;
outline: 1px solid black;
background-color: rgba(255, 255, 255, 1);
padding: 28px;
    opacity: 0;
    
    max-width:  335px; 
    max-height: 270px;
    border-radius: 15px;
    overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity var(--transition-focus);
}
.unique-components-item:hover .unique-components-overlay-block {
    opacity: 1;
}


.unique-components-overlay-title {
    font-weight: 600;
font-size: 18px;
line-height: 1.22;
/* identical to box height */
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--tex-color-black);
}
.unique-components-overlay-benefits {
    margin-top: 8px;
    margin-bottom: 14px;
    display: flex;
    gap: 6px;
}
.unique-components-overlay-benefits-first {
    
    font-weight: 400;
font-size: 10px;
line-height: 1.2;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: var(--tex-color-white);
    background: var(--color-hover-orange);
border-radius: 35px;
padding: 6px 16px;
}
.unique-components-overlay-benefits-second {
    
    font-weight: 400;
font-size: 10px;
line-height: 1.2;
/* identical to box height, or 120% */
display: flex;
align-items: center;
color: var(--tex-color-black);
     border: 1px solid var(--color-hover-orange);
    border-radius: 35px;
padding: 6px 16px;
}
.unique-components-overlay-text {
    max-height: 146px;
    font-weight: 400;
font-size: 14px;
line-height: 1.29;
/* or 129% */

letter-spacing: -0.02em;

color: var(--tex-color-black);
overflow: hidden;
text-overflow: ellipsis;
}
@media screen and (min-width: 375px) { 

    .unique-components-list {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) { 
    .container.container-unique-components  {
        padding: 0;
        padding-bottom: 100px;
        /* padding: 0; */
    }
    /* .container-unique-components {
        padding-bottom: 100px;
        padding: 0;
    } */
    .unique-components-title {
        font-size: 24px;
        line-height: 1.17;
        /* or 117% */
    }
    
    .unique-components-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
    .unique-components-title{
        max-width: 411px;
        margin-bottom: 28px;
    }
    .unique-components-title-text{
        max-width: 486px;
        
    }
}
@media screen and (min-width: 1200px) { 
    .container-unique-components {
        padding-bottom: 128px;
    }
    
    .unique-components-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 19px;
    }
    .unique-components-item {
        width: 270px;
        height: 270px;
    }
    .unique-components-item img {
        width: 206px;
        height: 160px;

        margin-top: 26px;
        margin-right: 36px;
        margin-left: 28px;
        margin-bottom: 36px; 
    }

    /* .unique-components-overlay-benefits-second-fix {

     }  */
    /* .unique-components-overlay-benefits-first-fix {
        max-width: 114px;
        max-height: 24px;
    }
    .unique-components-overlay-benefits-first-fix p {
        max-width: 82px;
        max-height: 12px;
    }
    
    .unique-components-overlay-benefits-second-fix p {
        max-width: 61px;
    } */
}